/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*main {
    background: #6610f2;
}*/

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}

.nav_logo {
    padding: 10px 0;
}

.menu_items {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

/* Hero */
.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(images/bg-dot.png), url(images/bg-dot.png), url(images/bg-round.png), url(images/bg-tree.png);
    background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
    background-repeat: no-repeat;
}

.curveImg {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.hero .row {
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0 60px;
    gap: 30px;
    justify-content: space-between;
}

    .hero .row h2,
    .hero .row p {
        color: #fff;
    }

    .hero .row h2 {
        font-size: 36px;
        margin-bottom: 16px;
    }

.hero .column {
    width: 50%;
}

./*buttons {
    display: flex;
    margin-top: 25px;
    gap: 10px;
}

.btn {
    padding: 14px 26px;
    background: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .btn:last-child {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
    }

        .btn:last-child:hover {
            background-color: #fff;
            color: #333;
        }*/

.hero_img {
    width: 100%;
    z-index: 10;
    position: relative;
}

#menu_toggle {
    display: none;
}
------------------------------------------------cardcss----------------------------------
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #F7F6DF;
}
/*----------------------------------------------------------------------Card end------------------------*/

/* Reponsive */
@media (width < 860px) {
    #menu_toggle {
        display: block;
    }

    .nav {
        padding: 0 20px;
        background-color: #fff;
    }

    .menu_items {
        position: fixed;
        top: 0;
        width: 260px;
        background-color: #fff;
        height: 100%;
        left: -100%;
        padding: 50px 30px 30px;
        flex-direction: column;
        transition: all 0.5s ease;
    }

    .showMenu .menu_items {
        left: 0;
    }

    a {
        color: #333;
    }

    #menu_toggle {
        width: 20px;
        cursor: pointer;
    }

    .menu_items #menu_toggle {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hero {
        padding-top: 130px;
    }

        .hero .row {
            flex-direction: column;
            padding: 0 20px;
            justify-content: center;
        }

            .hero .row .column {
                width: 100%;
            }
}

@media (width < 600px) {
    .hero {
        padding-top: 80px;
    }

        .hero .row h2 {
            font-size: 26px;
        }

    .buttons {
        justify-content: center;
    }

    .btn {
        padding: 10px 16px;
    }


    .content {
        background-size: 150px;
        width: 300px;
        height: 300px;
        border: 2px solid;
        color: pink;
    }

    .center {
        border: 5px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }

    .google-map {
        padding-bottom: 50%;
        position: relative;
    }

        .google-map iframe {
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            position: absolute;
        }

    img {
        width: 100%;
        height: auto;
    }

    .butt {
        display: block;
        width: 115px;
        height: 25px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
    }


    .outer {
        width: 300px;
        margin: 0 auto;
    }

    ul {
        border: 1px solid #f00;
    }

    li {
        border: 1px solid #0f0;
    }

    .reset {
        padding-left: 0;
    }
    /*-----------------------------------------------------topbut -------------------------------------*/

    /*#myBtn {
        display: none;*/ /* Hidden by default */
        /*position: fixed;*/ /* Fixed/sticky position */
        /*bottom: 20px;*/ /* Place the button at the bottom of the page */
        /*right: 30px;*/ /* Place the button 30px from the right */
        /*z-index: 99;*/ /* Make sure it does not overlap */
        /*border: none;*/ /* Remove borders */
        /*outline: none;*/ /* Remove outline */
        /*background-color: red;*/ /* Set a background color */
        /*color: white;*/ /* Text color */
        /*cursor: pointer;*/ /* Add a mouse pointer on hover */
        /*padding: 15px;*/ /* Some padding */
        /*border-radius: 10px;*/ /* Rounded corners */
        /*font-size: 18px;*/ /* Increase font size */
    /*}

        #myBtn:hover {
            background-color: #555;*/ /* Add a dark-grey background on hover */
        /*}*/

