@{
    ViewData["Title"] = "AboutUs";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AR.styles.css" asp-append-version="true" />

</head>


<body>
<h1>@ViewData["Title"]</h1>
<style>
    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    </style>

<p style="15px Arial, sans-serif;">
        We offer full range of garage services to vehicle owners in and around Bengaluru. Our professionals know how to handle a wide range of <b>car</b> and <b>bike</b> services. Whether you drive a passenger car or medium sized truck or SUV, our mechanics strive to ensure that your vehicle will be performing at its best before leaving our car shop. Whether you drive a medium sized truck or passenger car or SUV, our mechanics strive to ensure.
</p>

<div class="wpb_wrapper">
    <div class="wpb_text_column wpb_content_element  description margin-top-0">
        <div class="wpb_wrapper">
                <p>We offer a full range of garage services to vehicle owners located in and around Bengaluru area. All mechanic services are performed by highly qualified mechanics. We can handle any car and bike problem.</p>

        </div>
    </div>

    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
                <p>We also offer full range of <b>Towing</b> services under emergency and non-emergency circumstances <b>24*7</b> in and around Bengaluru. Our professionals know how to handle and pick-up a wide range of vehicles and make those to reach there destinations. Whether you drive a passenger car or medium sized truck or SUV, our team strive to ensure that your vehicle will be transferred . Whether you want to <b>Tow</b> a medium sized truck or passenger <b>car</b> or <b>SUV</b> or a <b>bike</b>, our team strive to ensure.</p>

        </div>
    </div>
    <h4 class=" box-header margin-top-40">WHY CHOOSE US</h4><ul class="list margin-top-30"><li class="template-bullet "><span>We make auto repair and maintenance more convenient for you</span></li><li class="template-bullet "><span>We are a friendly, helpful and professional group of people</span></li><li class="template-bullet "><span>Our professionals know how to handle a wide range of </span></li><li class="template-bullet "><span>We get the job done right — the first time</span></li><li class="template-bullet ">
        <span>Same day service for most repairs and maintenance</span>
        </li></ul><div class="vc_row wpb_row vc_inner vc_row-fluid page-margin-top">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner "><div class="wpb_wrapper">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Services", "Home")'">Our Services</button>
                        </div>
                        </div>
                           </div>
                           </div>
</div>
</body>
</html>