@{
    ViewData["Title"] = "Gallery";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AR.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="row">
        <div class="column">
            <img src="~/images/whatsapp image 2024-05-23 at 16.26.44.jpeg" alt="Forest" style="width:50%" />
        </div>
        <hr class="hr hr-blurry" />
        <div class="column">
            <img class="center" src="~/images/whatsapp image 2024-05-23 at 16.24.01.jpeg" alt="Forest" style="width:50%" />
        </div>
        <hr class="hr hr-blurry" />
        <div class="column">
            <img class="center"  src="~/images/whatsapp image 2024-05-23 at 16.26.54.jpeg" alt="Bump" style="width:50%" />
        </div>
        <hr class="hr hr-blurry" />
        <div class="column">
            <img src="~/images/whatsapp image 2024-05-23 at 16.26.50.jpeg" alt="Bump" style="width:50%" />
        </div>
        <hr class="hr hr-blurry"
    </div>

</body>
