@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AR.styles.css" asp-append-version="true" />
</head>
<style>
    body{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-size: contain 
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<body>
    <div>
        
        <marquee direction="left" behavior="alternate">
          <b>  CONTACT US :+91-8310597716,+91-9845916566</b>
        </marquee>
    </div>
    <section>
        <div class="container">
            <div class="content">
                <img src="~/images/nayafront.jpg" width ="100%" />
                <img src="~/images/towingpic.jpg" width="100%" height="400" />
                <img src="~/images/bike.jpg" width="100%" height="400" />
            </div>
            <div _ngcontent-awv-c118="" style="text-align:center" class="col-lg-12 col-md-12 text-align-center ng-star-inserted">
                <hr _ngcontent-awv-c118="" class="margin-20-percent">
                <h2 _ngcontent-awv-c118="">
                    <span _ngcontent-awv-c118=""  class="margin-10">
                        @* <i _ngcontent-awv-c118="" class="fas fa-users"></i> *@
                        </span>20+ years excellence in Vehicle Service Field!
                        </h2>
                        <hr _ngcontent-awv-c118="" class="margin-20-percent">
            </div>
                  <div _ngcontent-awv-c118="" class="col-6 background-glassmorph">
                            <h5 _ngcontent-awv-c118="">Highest quality towing service </h5>
                            <hr _ngcontent-awv-c118="" style="color: #e73c33; border: solid 1px; width: 50%; margin-top: 8px;">
                            <p _ngcontent-awv-c118="" class="font-size-12px"> Fast , courteous and inexpensive towing and roadside assistance. We are ready to respond to all your vehicle emergency needs 24 hours a day and seven days a week. </p>
                         </div>
                       
                            <div _ngcontent-awv-c118="" class="col-12 display-inline-flex">
                                <div _ngcontent-awv-c118="" class="col-6 background-glassmorph">
                                    <h5 _ngcontent-awv-c118="">100% transparent pricing</h5>
                                    <hr _ngcontent-awv-c118="" style="color: #e73c33; border: solid 1px; width: 50%; margin-top: 8px;">
                                    <p _ngcontent-awv-c118="" class="font-size-12px"> All the estimates and quotations will be provided before the work gets started. Our pricing is completely transparent and there are no hidden costs. </p>
                                    </div>
                                </div>
            <div _ngcontent-awv-c118="" class="col-12 display-inline-flex">
                <div _ngcontent-awv-c118="" class="col-6 background-glassmorph">
                <h5 _ngcontent-awv-c118="">Car & Bike Service at your doorstep</h5>
                    <hr _ngcontent-awv-c118="" style="color: #e73c33; border: solid 1px; width: 50%; margin-top: 8px;">
                <p _ngcontent-awv-c118="" class="font-size-12px"> Do you wish to get your vehicle get some energy with ease ? Get ready! We are here to provide a service to your vehicle at ur dorstep. </p>
                </div>
                <div _ngcontent-awv-c118="" class="col-6 background-glassmorph">
                    <h5 _ngcontent-awv-c118=""> Save your time </h5>
                    <hr _ngcontent-awv-c118="" style="color: #e73c33; border: solid 1px; width: 50%; margin-top: 8px;">
                    <p _ngcontent-awv-c118="" class="font-size-12px"> We value your time and We don't want you waiting outside garages for getting your Bike serviced. Our service experts complete the service within 2 hrs at your doorstep. </p>
                </div>
            </div>
                                    <div _ngcontent-awv-c118="" class="col-12 display-inline-flex">
                                        <div _ngcontent-awv-c118="" class="col-6 background-glassmorph">
                                            <h5 _ngcontent-awv-c118="">Maintain service records</h5>
                                        <hr _ngcontent-awv-c118="" style="color: #e73c33; border: solid 1px; width: 50%; margin-top: 8px;">
                                        <p _ngcontent-awv-c118="" class="font-size-12px"> Our experts are keen on listing and maintaining information of your Car or Bike repair. </p>
                                         </div>
                                        <div _ngcontent-awv-c118="" class="col-6 background-glassmorph">
                                            <h5 _ngcontent-awv-c118="">Service Warranty</h5>
                                            <hr _ngcontent-awv-c118="" style="color: #e73c33; border: solid 1px; width: 50%; margin-top: 8px;">
                                            <p _ngcontent-awv-c118="" class="font-size-12px"> After every service, there comes a warranty during which we provide you free technical and operational support. </p>
                                        </div>
                                        </div>
                </div>
        <div _ngcontent-awv-c118="" style="text-align:center" class="col-lg-12 col-md-12 text-align-center ng-star-inserted">
            <hr _ngcontent-awv-c118="" class="margin-20-percent">
            <h2 _ngcontent-awv-c118="">
                <span _ngcontent-awv-c118="" class="margin-10">
            @* <i _ngcontent-awv-c118="" class="fas fa-users"></i> *@
                    Feel free to locate us! Click on "more options"" to assign and check your distance
                </span>
            </h2>
            <hr _ngcontent-awv-c118="" class="margin-20-percent">
        </div>
        
        <h3><b>Address</b></h3>
        <br />
        <h4>AR Auto Service Centre(Bike & Car)</h4>

        <h4>No 1 , Nala Road ,Near Sathya Narayana Temple , Halasuru
            Bangalore - 560008
        </h4>
          <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d124412.54796472203!2d77.54290714367473!3d12.978751032012116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bae179ddf75594b%3A0x5bef9161dc44f9a7!2s1%2C%20Nala%20Rd%2C%20near%20Sree%20Sathyanarayana%20temple%20street%2C%20Halasuru%2C%20Gupta%20Layout%2C%20Bengaluru%2C%20Karnataka%20560008!3m2!1d12.978764!2d77.625309!5e0!3m2!1sen!2sin!4v1716663109488!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </section>
    <hr />
    <h3 style="text-align:center;"><b>Thank you for visiting....</b></h3>


</body>
</html>

    
  
        
