@{
    ViewData["Title"] = "Services";
}
<h1>@ViewData["Title"]</h1>


@{
    ViewData["Title"] = "Services";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AR.styles.css" asp-append-version="true" />

</head>


<body>
    <br />

<h2 style="text-align:center">Services</h2>
</br>

<div style="margin-bottom: 20px;">

        <div  class="row">
        <div class="column">
                <div style="margin-bottom:20px" class="card">
                <h3>Car Service</h3>
                    <hr />
                    <p>
                        <b>Car breakdown service</b>


                    </p>
                    <ul>
                        <li>Car break-down assistance starts from <b>999rs</b></li>
                    </ul>
                
                    <p><b>Basic service</b></p>
                    <p>Starts at <b>2000Rs</b> </p>
                    <ul>
                        <li>Periodic Maintenance</li>
                        <li>Denting &Aacute; Painting</li>
                        <li>Tyre replacement & Wheel care</li>
                        <li>AC service & Repair</li>
                        <li>Windshield & Glass Replacement</li>
                        <li>Lights & Fitment</li>
                        <li>Oil change</li>
                        <li>Custom Services</li>
                        <li>Inspection</li>
                        <li>Eco Wash</li>
                        <li>Denting & Painting</li>
                        <li>Tyre replacement and wheel care</li>
                        <li>Engine Service</li>
                        <li>Brake Service</li>
                        <li>Car bulb check</li>
                        <li>Battery &Aacute; Electronics check</li>
                        
                    </ul>
            </div>
        </div>

            <div style="margin-bottom:20px" class="column">
            <div class="card">
                    
                    
                        
                <h3>Bike Service</h3>
                    <hr />
                    <p>
                        <b>Bike breakdown service</b>


                    </p>
                    <ul>
                        <li>Bike break-down assistance starts at <b>499rs</b></li>
                        </ul>
               
                    <p><b>Basic service</b></p>
                    <p>Starts from <b>999Rs (Upto 150cc)</b> </p>
                    <ul>
                        <li>Oil Change</li>
                        <li>General check</li>
                        <li>Replace old parts</li>
                        <li>22 Checkups</li>
                        <li>Abv 150cc starts from <b>1499rs</b></li>
                        </ul>
                    
                    <hr />
                    <p>
                        <b>Premium bike service</b>

                    </p>
                        <li>Starts from <b>1699rs</b></li>
                    <li>15 days warranty</li>
                    <li>Oil Change</li>
                    <li>General check</li>
                    <li>Air filter change</li>
                    <li>Break shoe cleaning</li>
                    <li>Eco wash</li>
                    <li>Eco polish</li>
                    <li>Defective parts replacement(Extra charge) </li>
                    <li>Carburator tuning</li>
                    <li>Coolant top-up</li>
                    <li>Cable check-up</li>
                    </ul>
                    


                    
            </div>
        </div>
            
  
  <div class="column">
    <div style="margin-bottom:20px" class="card">
      <h3> Towing Service</h3>
                    <hr />
      <p>Starts at <b>1800Rs</b> </p>
                    <p><b>Services</b></p>
                    <ul>
                        <li>24/7 roadside assistance</li>
                        <li>Key lock assistance</li>
                        <li>Four wheeler </li>
                        <li>Two wheeler</li>
                        <li>Mini Commercial vehicles</li>
                        <li>Puncture & flat tyre</li>
                        <li>Battery jump start</li>
                        <li>Fuel delivery</li>
                        <li>Battery replacement</li>
                        <li>Stepney change</li>
                        <hr />
                        <p>
                            <b>Car towing price</b>
                            
                        </p>
                        <hr />
                        <li><b>2500rs</b>(40kms)+<b>25rs</b> per km</li>
                        <hr />
                        <p>
                            <b>Bike towing price</b>

                        </p>
                        <hr />
                        <li><b>1800rs</b>(40kms)+<b>15rs</b> per km</li>



                    </ul>
    </div>
  </div>
  
  <div class="column">
    <div style="margin-bottom:20px" class="card">
      <h3>Genuine Parts</h3>
                    <hr />
      <p>Price as per present</p>
                    <p>24/7</p>
                    <ul>
                        <li>Price transparency</li>
                        <li>Authorized centers</li>
                        <li>Warranty</li>
                    </ul>
    </div>
  </div>
</div> 
    </body >
    </html >
